body  {
    background-color: rgb(110, 176, 229);
    background-image:https://i.pinimg.com/736x/90/40/03/9040034f5d635f46a4fb92128964fcca.jpg
    ;
}

h1{
    text-align:center ;
    text-decoration:double underline;
    font-style: inherit;
    text-shadow: 
    0px 0px 10px cyan,
    0px 0px 20px cyan,
    0px 0px 40px cyan,
    0px 0px 80px cyan;
    text-decoration-color: azure;


}

h2 {
    text-decoration: underline;
    text-shadow: 0px 0px 10px azure;
}

p {
    font-weight: bold;

}